.snapshotTilesContainer {
    -ms-grid-row: 3;
    color: TRANSPARENT; /*[{plugin-color}]*/
    font-size: 9pt; /*[{plugin-font-size}]*/
    font-family: "Segoe UI", Arial, sans-serif; /*[{plugin-font-family} , Arial, sans-serif]*/
    padding-left: 10px;
    padding-right: 14px;
}

    .snapshotTilesContainer a:focus {
        outline: 1px dotted TRANSPARENT; /*[1px dotted {plugin-perftools-focusdots}]*/
    }

.snapshotTile {
    position: relative;
    float: left;
}

    .snapshotTile > .snapshotTileInner {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto auto auto;
        box-sizing: border-box;
        display: -ms-grid;
        font-size: small;
        margin: 5px 10px 5px 0px;
        min-height: 253px;
        min-width: 272px;
        position: relative;
    }

.snapshotTileInner > .snapshotTileHeader {
    background-color: TRANSPARENT; /*[{plugin-memory-snapshot-tile-header}]*/
    padding: 5px;
    padding-left: 10px;
    -ms-grid-row: 1;
    position: relative;
    display: -ms-grid;
    -ms-grid-columns: auto auto;
    -ms-grid-rows: auto;
    margin-bottom: 5px;
}

    .snapshotTileInner > .snapshotTileHeader > .snapshotTileTitle {
        padding-top: 1px;
        display: inline-block;
        -ms-grid-column: 1;
    }

    .snapshotTileInner > .snapshotTileHeader > .snapshotTakenDate {
        margin-left: 10px;
        display: inline-block;
        -ms-grid-column: 2;
    }

.snapshotTileInner > .snapshotTileImageHolder {
    display: -ms-grid;
    -ms-grid-row: 3;
    -ms-grid-columns: 1fr auto 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    z-index: 10000;
}

    .snapshotTileInner > .snapshotTileImageHolder > .snapshotTileImage {
        -ms-grid-column: 2;
        max-width: 250px;
        max-height: 150px;
    }

.snapshotTileInner > .stopToSeeSnapshotDetailsMessage {
    display: inline-block;
    -ms-grid-row: 2;
    text-align: center;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 180px;
    color: TRANSPARENT; /*[{plugin-memory-snapshot-tile-baseline-text}]*/
}


.snapshotTileInner > .screenshotNotAvailableMessage {
    display: inline-block;
    -ms-grid-row: 3;
    text-align: center;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    margin-bottom: 10px;
    max-width: 180px;
    color: TRANSPARENT; /*[{plugin-memory-snapshot-tile-baseline-text}]*/
}

.snapshotTileTaken > .snapshotTileInner {
    background-color: TRANSPARENT; /*[{plugin-memory-snapshot-tile}]*/
    border: 1px solid TRANSPARENT; /*[1px solid {plugin-memory-snapshot-tile-border}]*/
}

.snapshotTileBlank {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    background-color: transparent;
    border: none;
    display: -ms-grid;
}

    .snapshotTileBlank > .snapshotError {
        -ms-grid-row: 1;
        color: red; /*[{plugin-memory-snapshot-tile-error-text}]*/
        display: none;
        font-weight: 600;
        margin: 10px;
        text-align: center;
        text-transform: none;
        top: 10%;
        width: 200px;
    }

    .snapshotTileBlank > .snapshotTileInner {
        -ms-grid-row: 2;
        background-color: transparent;
        box-sizing: border-box;
        display: table;
        min-height: 150px;
        min-width: 200px;
        padding: 0;
        width: 100%;
    }

        .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            border-width: 1px;
            border-style: solid;
            padding: 0;
            background-image: none;
            font-size: 1.0em;
            font-family: "Segoe UI", Arial, sans-serif; /*[{plugin-font-family} , Arial, sans-serif]*/
            background-color: TRANSPARENT; /*[{plugin-memory-snapshot-button}]*/
            border-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-border}]*/
            color: TRANSPARENT; /*[{plugin-link-color}]*/
        }

            .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton:hover:enabled {
                background-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-hover}]*/
                border-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-border-hover}]*/
                color: TRANSPARENT; /*[{plugin-memory-snapshot-button-hover-text}]*/
            }

            .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton:focus:enabled {
                background-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-hover}]*/
                color: TRANSPARENT; /*[{plugin-memory-snapshot-button-hover-text}]*/
            }

            .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton:active:enabled {
                background-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-active}]*/
                border-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-border-active}]*/
                color: TRANSPARENT; /*[{plugin-memory-snapshot-button-active-text}]*/
            }

            .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton.disabled {
                background-color: TRANSPARENT; /*[{plugin-memory-snapshot-button-disabled}]*/
                color: TRANSPARENT; /*[{plugin-memory-snapshot-button-disabled-text}]*/
            }

                .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton.disabled .takeSnapshotIcon {
                    background-position-y: -64px;
                }

            .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton .snapshotTileTextContainer {
                -ms-grid-columns: 1fr;
                -ms-grid-rows: 1fr 1fr;
                display: -ms-grid;
            }

                .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton .snapshotTileTextContainer .takeSnapshotIcon {
                    -ms-grid-column: 1;
                    -ms-grid-column-align: center;
                    -ms-grid-row: 1;
                    -ms-grid-row-align: end;
                    height: 32px;
                    width: 32px;
                }

                .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton .snapshotTileTextContainer .takeSnapshotLabel {
                    -ms-grid-column: 1;
                    -ms-grid-column-align: center;
                    -ms-grid-row: 2;
                    -ms-grid-row-align: start;
                }

            .snapshotTileBlank > .snapshotTileInner .takeSnapshotButton progress {
                width: 50%;
                margin: auto;
                display: none;
                color: TRANSPARENT; /*[{plugin-perftools-progress}]*/
            }
