<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="PrivateAssemblies;CommonExtensions\Microsoft\TeamFoundation\Team Explorer" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <!-- enable soap tracing by uncommenting the following
  <appSettings>
    <add key="TFTrace.Writer" value="true" />
    <add key="TFTrace.DirectoryName" value="%TEMP%\\TFLogFiles" />
    <add key="TeamFoundationSoapProxy.EnableSoapTracing" value="true" />
  </appSettings>

  <system.diagnostics>
    <switches>
      <add name="TeamFoundationSoapProxy" value="4" />
      <add name="General" value="4" />
    </switches>
    <trace autoflush="true" indentsize="3"/>
  </system.diagnostics>
  -->
</configuration>