<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="CommonExtensions\Microsoft\TeamFoundation\Team Explorer;PrivateAssemblies" />
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- 
       Trace settings.

       Uncomment the system.diagnostics section below to get trace and perf log for
       Team Foundation Build command line tool. For trace logging ensure that C:\logs 
       directory exists and is writeable.

       The following trace categories are provided:
        - TeamFoundationClientProxy - covers Azure DevOps Server web methods usage
        - TeamBuild - covers build automation operations
        - VersionControl - covers version control operations

       For each of the trace categories there is a setting for enabling soap tracing,
       which may be enabled globally or per component. The setting is formed by
       combining the trace category with ".EnableSoapTracing" and setting the value
       to either "true" or "false". For example, to enable soap tracing for build
       automation it would look like the following:

       <appSettings>
         <add key="TeamBuild.EnableSoapTracing" value="true" />
       </appSettings>

       To enable it globally use the category "TeamFoundationClientProxy". It should also
       be noted that this flag has no effect unless the TraceLevel, described below,
       is set to 4.

      Trace Switches
        Each of the trace switches should be set to a value between 0 and 4, inclusive.
          0:No trace output
          1-4:Increasing levels of trace output; see Systems.Diagnostics.TraceLevel
  -->
  <!--
  <system.diagnostics>      
    <switches>
      <add name="TeamBuild" value="4" />
    </switches>     
   
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener"
             type="Microsoft.TeamFoundation.TeamFoundationTextWriterTraceListener,Microsoft.TeamFoundation.Common, Version=16.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
             initializeData="c:\logs\tfsbuild.exe.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  -->
</configuration>