<!DOCTYPE html>
<html>
<head>
    <!-- If in future we support win 8, then we have to change this value to 10-->
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html" />
    <title>Memory Profiler UnsupportedVersion View</title>
    <script type="text/javascript" src="../Common/Script/plugin.js"></script>
    <script type="text/javascript" src="Script/UnsupportedVersionMerged.js"></script>
    <link id="UnsupportedVersion.css" rel="stylesheet" href="CSS/UnsupportedVersion.css" type="text/css" data-plugin-theme="true" />
</head>
<body tabindex="-1">
    <div id="mainContainer">
        <div id="errorMessage" class="errorMessage" />
    </div>
</body>
</html>