html, body {
    -ms-high-contrast-adjust: none;
    cursor: default;
    height: 100%;
    margin: 0px;
}

input:-ms-input-placeholder {
    color: TRANSPARENT; /*[{plugin-perftools-watermark-text}]*/
}

#mainContainer {
    height: 100%;
    width: 100%;
}

.warningMessage {
    -ms-grid-row: 1;
    background-image: url('../common/images/i_warning.png'); /*[url({image-warning})]*/
    background-position-y: -17px;
    background-repeat: no-repeat;
    background-size: 18px 54px;
    color: TRANSPARENT; /*[{plugin-color}]*/
    display: none;
    height: 20px;
    margin-top: 5px;
    margin-left: 8px;
    padding-left: 23px;
    font-weight: 600;
}

.snapshotToggleTab {
    background-color: TRANSPARENT; /*[{plugin-memory-snapshot-tile-header}]*/
    -ms-grid-row: 2;
    display: -ms-grid;
    -ms-grid-columns: auto auto auto;
    -ms-grid-rows: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 9pt; /*[{plugin-font-size}]*/
    font-family: "Segoe UI", Arial, sans-serif; /*[{plugin-font-family} , Arial, sans-serif]*/
}

    .snapshotToggleTab a:focus {
        outline: 1px dotted TRANSPARENT; /*[1px dotted {plugin-perftools-focusdots}]*/
    }

    .snapshotToggleTab > .toggleTabLabel {
        display: inline-block;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 10px;
        -ms-grid-column: 1;
    }

    .snapshotToggleTab > .toggleTabButtonContainer {
        display: inline-block;
        border-top: 2px solid TRANSPARENT;
        border-right: 2px solid TRANSPARENT;
        border-bottom: 2px solid TRANSPARENT;
        border-left: 2px solid TRANSPARENT;
        cursor: pointer;
        margin-left: 10px;
    }

        .snapshotToggleTab > .toggleTabButtonContainer:focus {
            background-color: TRANSPARENT; /*[{environment-commandbar-hover}]*/
            outline: 0px;
        }

        .snapshotToggleTab > .toggleTabButtonContainer:hover {
            background-color: TRANSPARENT; /*[{environment-commandbar-hover}]*/
        }

    .snapshotToggleTab > .toggleTabButtonContainerSelected {
        display: inline-block;
        border-top: 2px solid TRANSPARENT;
        border-right: 2px solid TRANSPARENT;
        border-bottom: 2px solid TRANSPARENT;
        border-left: 2px solid TRANSPARENT;
        cursor: pointer;
        margin-left: 10px;
    }

        .snapshotToggleTab > .toggleTabButtonContainerSelected:focus {
            background-color: TRANSPARENT; /*[{environment-commandbar-hover-over-selected}]*/
            outline: 0px;
        }

        .snapshotToggleTab > .toggleTabButtonContainerSelected:hover {
            background-color: TRANSPARENT; /*[{environment-commandbar-hover-over-selected}]*/
        }

.toggleTabSelectedButtonOutline {
    outline: 1px solid !important;
    outline-color: TRANSPARENT !important; /*[{environment-commandbar-selected-border} !important]*/
    background-color: TRANSPARENT; /*[{environment-commandbar-selected}]*/
}

.snapshotToggleTab > .toggleTabManagedButtonContainer {
    -ms-grid-column: 2;
}

.snapshotToggleTab > .toggleTabNativeButtonContainer {
    -ms-grid-column: 3;
}

input {
    padding: 2px;
}

.hidden {
    display: none;
}

.controlDropdown {
    padding: 0;
    margin: 0;
}

.additionalSeperator {
    display: none;
}

.heapOverviewGraph {
    display: none; /* Initial state is display:none, but becomes visible on control initialization */
    height: 100%;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}

.datatypeSelection {
    width: 90px;
}

.gridSplitter {
    position: relative;
    background-color: TRANSPARENT; /*[{plugin-perftools-splitter}]*/
}

.gridSplitter-Vertical {
    width: 100%;
    height: 3px;
    cursor: ns-resize;
}

.gridSplitter-Horizontal {
    width: 3px;
    height: 100%;
    cursor: ew-resize;
}

.summaryView {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto auto 1fr;
    display: -ms-grid;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

    .summaryView > .giveFeedbackContainer {
        position: absolute;
        bottom: 2px;
        left: 2px;
    }

.mainSection {
    -ms-grid-row: 2;
    padding-left: 14px;
    padding-right: 14px;
}

.snapshotScrollableContainer {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.snapshotView {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: .7fr .3fr auto;
    box-sizing: border-box;
    display: -ms-grid;
    height: 100%;
    min-height: 21em;
    width: 100%;
}

    .snapshotView > .snapshotGridContainer {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        box-sizing: border-box;
        padding-top: 3px;
    }

    .snapshotView > .gridSplitter {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        z-index: 10;
        box-sizing: border-box;
    }

    .snapshotView > .referenceView {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: auto 1fr;
        box-sizing: border-box;
    }

    .snapshotView > .snapshotMessagesContainer {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        border-top: 1px solid TRANSPARENT; /*[1px solid {plugin-memory-snapshot-messages-border}]*/
        box-sizing: border-box;
        cursor: default;
    }

        .snapshotView > .snapshotMessagesContainer > .reachedItemsCapMessageContainer {
            box-sizing: border-box;
            display: none;
            margin: 5px 0px 5px 10px;
        }

.analysisContainer {
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 3px;
}

    .analysisContainer > .giveFeedbackButton {
        vertical-align: middle;
    }

    .analysisContainer > .filterInput {
        font-size: 90%;
        margin-top: 3px;
        vertical-align: top;
    }

    .analysisContainer > .settingsMenuButton {
        background-color: TRANSPARENT; /*[{plugin-memory-drop-down-button}]*/
        background-image: none;
        border: 1px solid transparent;
        display: inline-block;
        height: 25px;
        min-width: 0;
        padding: 3px 0px 0px 1px;
        width: 31px;
    }

        .analysisContainer > .settingsMenuButton:hover:not(.menuControlActive) {
            background-color: TRANSPARENT; /*[{plugin-memory-drop-down-button-hover}]*/
            border: 1px solid transparent;
        }

    .analysisContainer > .menuControlActive {
        background-color: TRANSPARENT; /*[{plugin-memory-drop-down-button-focus}]*/
        border-left: 1px solid TRANSPARENT; /*[1px solid {plugin-memory-drop-down-button-focus-border}]*/
        border-right: 1px solid TRANSPARENT; /*[1px solid {plugin-memory-drop-down-button-focus-border}]*/
        border-top: 1px solid TRANSPARENT; /*[1px solid {plugin-memory-drop-down-button-focus-border}]*/
    }

    .analysisContainer > .settingsMenuButton > .settingsIcon {
        background: url('images/i_table_options.png') no-repeat 0px 0px; /*[url({image-settings}) no-repeat 0px 0px]*/
        background-size: 27px 54px;
        height: 18px;
        width: 27px;
    }

.referenceView > .referenceGraphTitle {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background-color: TRANSPARENT; /*[{plugin-memory-tab-header}]*/
    box-sizing: border-box;
    font-weight: 600;
    padding: 5px 0px 5px 10px;
}

.referenceView > .referenceViewContainer {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    background-color: #f9f9f9; /*[{plugin-perftools-detail-pane}]*/
    box-sizing: border-box;
    padding-top: 3px;
}

.snapshotTab {
    height: 100%;
}

    .snapshotTab > .snapshotDataNavigation {
        height: 100%;
    }

    .snapshotTab > .snapshotDataNavigationHidden {
        display: none;
    }

    .snapshotTab > .snapshotErrorProgress {
        height: 100%;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

        .snapshotTab > .snapshotErrorProgress > .snapshotError {
            font-size: 20px;
        }

            .snapshotTab > .snapshotErrorProgress > .snapshotError > .snapshotProcessingErrorFrown {
                font-size: 100px;
                margin-bottom: 20px;
            }

        .snapshotTab > .snapshotErrorProgress > .snapshotProcessingProgressDiv {
            -ms-grid-columns: 1fr;
            -ms-grid-rows: 1fr;
            display: -ms-grid;
            height: 100%;
            width: 100%;
        }

        .snapshotTab > .snapshotErrorProgress > .snapshotProcessingProgressDivHidden {
            display: none;
        }

        .snapshotTab > .snapshotErrorProgress > .snapshotProcessingProgressDiv > .progressContent {
            -ms-grid-column: 1;
            -ms-grid-column-align: center;
            -ms-grid-row: 1;
            -ms-grid-row-align: center;
            max-width: 300px;
            text-align: center;
        }

.grid-row:not(.grid-row-current) > .diffAddedObject {
    color: TRANSPARENT; /*[{plugin-memory-snapshot-diff-added-text}]*/
}

.grid-row:not(.grid-row-current) > .diffModifiedObject {
    color: TRANSPARENT; /*[{plugin-memory-snapshot-diff-modified-text}]*/
}

.grid-row:not(.grid-row-current):hover > .diffAddedObject, .grid-row:not(.grid-row-current):hover > .diffModifiedObject {
    color: TRANSPARENT; /*[{plugin-treeview-content-mouseover-color}]*/
}

.menuControl {
    background-color: TRANSPARENT; /*[{plugin-perftools-menu}]*/
    border: 1px solid TRANSPARENT; /*[1px solid {plugin-perftools-menu-border}]*/
    box-shadow: 2px 2px 2px TRANSPARENT; /*[2px 2px 2px {plugin-perftools-menu-drop-shadow rgba(0.5)}]*/
    display: none;
    list-style-type: none;
    padding: 2px;
    position: absolute;
    width: auto;
    z-index: 10;
}

    .menuControl > li {
        padding: 2px 5px 2px 5px;
        width: 100%;
    }

        .menuControl > li:hover {
            background-color: TRANSPARENT; /*[{plugin-perftools-menu-hover}]*/
            color: TRANSPARENT; /*[{plugin-perftools-menu-hover-text}]*/
            cursor: pointer;
        }

        .menuControl > li:focus {
            background-color: TRANSPARENT; /*[{plugin-perftools-menu-focus}]*/
            color: TRANSPARENT; /*[{plugin-perftools-menu-focus-text}]*/
        }

        .menuControl > li > .menuToggleIcon {
            height: 12px;
            margin-top: -2px;
            margin-right: 5px;
            vertical-align: middle;
            width: 12px;
        }

            .menuControl > li > .menuToggleIcon.hiddenCheckMark {
                visibility: hidden;
            }

.headerAndTabContainer {
    -ms-grid-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

.tabContainer {
    -ms-grid-columns: 1fr;
    -ms-grid-row: 2;
    -ms-grid-rows: 1fr;
    background-color: TRANSPARENT; /*[{plugin-background-color}]*/
    display: -ms-grid;
}

    .tabContainer .startProfilingPrompt {
        -ms-grid-column-align: center;
        -ms-grid-row-align: center;
    }

        .tabContainer .startProfilingPrompt .startProfilingMessage {
            font-size: 14px;
        }

.grid-gutter-row {
    padding-top: 4px;
}

/*From the DOM/Console common "toolwindow.css"*/
.BPT-FileLink, .BPT-HelpLink {
    border: 1px solid transparent;
    color: TRANSPARENT; /*[{plugin-link-color}]*/ /*EnvironmentColors.CommandBarMenuLinkTextColorKey*/
    cursor: pointer;
}

    .BPT-FileLink:hover, .BPT-HelpLink:hover {
        color: TRANSPARENT; /*[{plugin-link-hover-color}]*/ /*EnvironmentColors.CommandBarMenuLinkTextHoverColorKey*/
        text-decoration: underline;
    }
