<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>xaml</string>
	</array>
	<key>name</key>
	<string>XAML</string>
	<key>injections</key>
	<dict>
		<key>string.quoted.single.xml, string.quoted.double.xml</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#markupExtension</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>text.xml</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>markupExtensionName</key>
		<dict>
			<key>name</key>
			<string>markupextension.name.xaml</string>
			<key>patterns</key>
			<array>
				<dict>
					<key>captures</key>
					<dict>
						<key>2</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.namespace.xaml</string>
						</dict>
						<key>3</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.xaml</string>
						</dict>
						<key>4</key>
						<dict>
							<key>name</key>
							<string>punctuation.separator.namespace.xaml</string>
						</dict>
						<key>5</key>
						<dict>
							<key>name</key>
							<string>entity.name.tag.localname.xaml</string>
						</dict>
					</dict>
					<key>match</key>
					<string>(?&lt;={)(?:\s*(([-\w\.]+)((:)))?([-\w\.:]+))</string>
				</dict>
			</array>
		</dict>
		<key>markupExtension</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#markupExtensionName</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#nestedMarkupExtension</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.xml#tagStuff</string>
				</dict>
			</array>
			<key>begin</key>
			<string>(?&lt;=[&apos;\&quot;])({)(?=(?:\s*(([-\w\.]+)((:)))?([-\w\.:]+)))</string>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.xaml</string>
				</dict>
			</dict>
			<key>end</key>
			<string>(})?\s*(?=[&apos;\&quot;])</string>
			<key>name</key>
			<string>markupextension.xaml</string>
		</dict>
		<key>nestedMarkupExtension</key>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>punctuation.definition.tag.xaml</string>
				</dict>
			</dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>include</key>
					<string>#markupExtensionName</string>
				</dict>
				<dict>
					<key>include</key>
					<string>#nestedMarkupExtension</string>
				</dict>
				<dict>
					<key>include</key>
					<string>text.xml#tagStuff</string>
				</dict>
			</array>
			<key>begin</key>
			<string>({)</string>
			<key>end</key>
			<string>(})\s*(?=[,}])|(})?\s*(?=[&apos;\&quot;])</string>
			<key>name</key>
			<string>nested.markupextension.xaml</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>text.xaml</string>
	<key>uuid</key>
	<string>FA4F22B4-180D-417B-B67E-EEEF3F5A9BA4</string>
</dict>
</plist>
